/* Button */ 

.button {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.button-primary{
    background-color: #005aa8;
}

.button-secondary{
    background-color: #4fb549;
}

.button-wrapper-right{
    text-align: right;
}