/* Card */

.card {
    background-color: #efefef;
    text-align: center;
    padding: 20px 15px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.services-icon {
    width: 100px;
    height: 100px;
    margin: auto;
    box-shadow: 0 0px 12px rgba(0,0,0,0.4);
    border: 5px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto;
}

.sustain{
    background-image: url("../img/Linhas-de-Serviço-DBC_Sustain.png");
}

.agil{
    background-image: url("../img/linhas-de-servico-agil.png");
}

.software-builder{
    background-image: url("../img/Linhas-de-Serviço-DBC_Software-Builder.png");
}

.smart-sourcing{
    background-image: url("../img/Linhas-de-Serviço-DBC_Smartsourcing.png");
}
