/* Contato */

.map-wrapper{
    height: 300px;
    margin: 15px -15px -30px;
}

@media (min-width: 720px){
    .map-wrapper{
        width: 50vw;
        height: auto;
        margin: 0;
        position: absolute;
        top: 79px;
        right: 0; 
        bottom: 168px;
        z-index: 1;
    }
}

.map{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}