/* Fields */

.field {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    box-sizing: border-box;
    outline: none;
}

.field:focus::placeholder{
    color: #005aa8;
}

.field:focus {
    border-color: #005aa8;
    box-shadow: 0 0 12px rgba(0,129,255,0.5);
}

textarea.field  {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}