/* General */

body{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 200px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

a {
    color: #005aa8;
    text-decoration: none;
}

a:not(.button):hover {
    color: #4fb549;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.header + section:not(.banner) { 
    padding-top: 100px;
} 

@media (max-width: 719px){
    .hide-on-mobile{
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
}

@media (min-width: 1024px){
    .hide-on-desktop{
        display: none;
    }
}