/* Services */

.container-services > .row {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.container-services > .row:not(:first-child){
    border-top: dashed 2px #e5e5e5;
}

.container-services > .row:nth-child(2n){
    flex-direction: row-reverse;
}