/* IMAGE */

.pokebola-image{
    width: 250px;
    height: 250px;
    margin: 15px auto 15px;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-image: url( "../img/pokebola.png" );
}
@media (min-width: 720px) {
    
    #pokebola-div{
        transform: translateX(50%);
        transform: translateY(30%);
    }

    .pokebola-image{
        height: 50vh;
        margin: auto;
    }
}
  
}