/* HEADER */ 

.search-section { 
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    background-color: #c00;
}

@media (min-width: 720px) {
    .search-section{
        height: 80vh;
        margin-top: 10vh;
        border-radius: 8px 0 0 8px ;
    }
}

.busca-por-id {
    padding: 8px 0 0px;
    box-sizing: border-box;
}

.busca-por-id input{
    background-color: #eee;
    padding: 10px;
    margin: 0;
    width: 250px;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #3b4cca;
    position:relative; 
    z-index: 10;
}

input::placeholder{
    color: #3b4cca;
}
input:focus{
    outline: none;
    box-shadow: 0 0 12px rgba(59, 76, 202, 0.7);
}

.mensagem-de-erro-div {
    height:26px;
}
.mensagem-escondida {
    transform: translate( 0, -100%);
}

#mensagem-de-erro{
    background-color: #3b4cca; 
    position: relative; 
    border-radius: 0 0 16px 16px;
    width: 150px;
    color: #ffde00;
    text-align: center;
    margin: auto;
    transition: transform 0.4s ease-in-out 0s;
    z-index: 0;
}

#containerBuscaPorId{
    display: flex;
    align-items: center;
    margin: 0 15px 0;
    transform: translateY(15%)
}

@media (min-width: 720px) {
    #containerBuscaPorId{
        transform: translateY(135%);
    }
}


