.btn {
    border-style: none;
    font-size: 0.7em;
    border-radius: 3px;
    padding: 4px 30px;
    cursor: pointer;
  
  }
  
  .link {
    text-decoration: none;
    color: #ddd;
    border-radius: 8px;
  }

