/* General*/

.center{
    display: block;
    text-align: center;
    margin: auto;
}

.hide {
    display: none;
}

.result-section{
    color: #ffde00;
    box-sizing: border-box;
    padding: 0 0 15px;
    margin: 0px 45px 15px;
    background-color: #3b4cca;
    border-radius: 0 0 8px 8px;
}

.result-section-li{
    background-color: #3b4cca;
}

h5 {
    margin: 0;
    padding: 5px;
}

