/* HEADER */ 

.busca-por-id {
    padding: 8px 0 0px;
    box-sizing: border-box;
}

.busca-por-id input{
    background-color: #eee;
    padding: 10px;
    margin: 0;
    width: 250px;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #3b4cca;
    position:relative; 
    z-index: 10;
}

input::placeholder{
    color: #3b4cca;
}
input:focus{
    outline: none;
    box-shadow: 0 0 12px rgba(59, 76, 202, 0.7);
}

.mensagem-de-erro-div {
    height:26px;
}
.mensagem-escondida {
    transform: translate( 0, -100%);
}

#mensagem-de-erro{
    background-color: #3b4cca; 
    position: relative; 
    border-radius: 0 0 16px 16px;
    width: 150px;
    color: #ffde00;
    text-align: center;
    margin: auto;
    transition: transform 0.4s ease-in-out 0s;
    z-index: 0;
}

.search-section { 
    box-sizing: border-box;
    margin: 0px -15px 0;
    padding: -15px;
    background-color: #c00;
    border-radius: 0 0 8px 8px;
}

.search-section button{
    margin: 10px 0 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #ffde00;
    color: #3b4cca;
    transition: 0.3s ease-in-out;
}

button:hover{
    transition: 0.3s ease-in-out;
    background-color: #b3a125;
}