/* Reset */

body{
    width: 100vw;
}

body, ul{
    margin: 0;
    background-color: #eee;
}

body,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}

ul {
    padding: 0;
    list-style: none;
}